body{
       background-color:#a800d2;
    }
p{
       flex:1;
       position: center;
        
       text-align: center;
       font-size:1.5rem;
 }
.main {
      display: flex;
      flex-direction: column ;
      justify-content: space-around;
      height:95vh;
     }
.inner {
       flex:3;
       display: flex;
       flex-direction: row ;
       flex-wrap: wrap;
       justify-content: space-around;
       align-item:stretch;
}
.text{
     flex:1;
     text-decoration:underline;
     color:white;
     font-size:1.5rem;
     padding-left:3%;
     padding-top:2.5%;
}
a{
     flex:1 1 350px;
     display:flex;
     flex-direction:row;
     align-content:center;
     flex-wrap: wrap;
     text-decoration:none;
      color: white;
     background-color:#88049b;
       border-style:double;
       border-width:0.5rem;
       border-radius:0.5rem;
       border-color:white;
       margin-left:2rem;
       margin-right:2rem;
       margin-top:1rem;
       margin-bottom:1rem;
 }
a:hover{
        color: #88049b;
        border-color:#88049b;
        background-color:#d091f7;
}