

header {
  margin-top:1.25rem;
  margin-bottom:1.25rem;
  
        }
#header{
  text-align:center;
  font-size:3rem;
        }
a{
  text-decoration:none;
  color:black;
  font-size:2rem;
}
li{
  border:solid;
  border-color:white;
  border-width:0.125rem;
  border-bottom-color: #00db25;
  cursor:pointer;
  margin-bottom:1rem;
  list-style-position:inside;
  padding-top:0.625rem;
  padding-bottom:0.625rem;
  padding-left:0.625rem;
  list-style-size:2rem;
  transition-duration:0.3s;
}
hr{
margin:bottom:0px;
border-color:#5900ff;
}
li:hover{
  border-radius:0.625rem;
  border-color: #00db25;
  background-color:#8af59c;
}
main{
padding-right:4rem;
padding-left:1.25rem;
}